/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.licensePlate {
    background: url('https://github.com/lidormalich/il_car/blob/master/img/formPlate.png?raw=true') no-repeat scroll 7px 7px;
    padding: 6px;
    font-size: 22px;
    border-width: 5px;
    border-color: #000000;
    background-color: #ffca11;
    color: #000000;
    border-style: double;
    border-radius: 9px;
    box-shadow: 0px 0px 14px rgba(66, 66, 66, 0.75);
    text-shadow: 4px 0px 5px rgba(66, 66, 66, 0.75);



}

/* .licensePlate {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
}

.licensePlate:hover {
    border-bottom-color: rgba(0, 0, 0, .87);
    background: #ececec;
}

.licensePlate:focus {
    border-color: #6200ee;
} */

.licensePlate:focus {
    outline: none;
}

.serch {
    background: url('https://github.com/lidormalich/il_car/blob/master/img/find.png?raw=true') no-repeat scroll 7px 7px;
}